// Place all the styles related to the customer/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  text-align: center;
}

.introduction-background-image {
  background-image: image-url('cake1.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 0 auto;
}

.home-introduction {
  text-align: center;
  background-color: rgba( 230, 230, 230, 0.8);
  width: 50%;
  margin: auto;
  margin-top: 250px;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.introduction-background-image-2 {
  background-image: image-url('image-2.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 0 auto;
}
.introduction-background-image-3 {
  background-image: image-url('image-3.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 0 auto;
}
.introduction-background-image-4 {
  background-image: image-url('image-4.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  margin: 0 auto;
}
.introduction-background-image-5 {
  background-image: image-url('image-5.jpg');
  background-size: cover;
  background-position: center;
  width:  90%;
  margin: 0 auto;
}

.about-image {
  background-image: image-url('cake1.jpg');
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 350px;
  margin: 0 auto;
}

.about-title {
  background-color: rgba(255,255,255,0.5);
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
  width: 60%;
}
#theTarget {
  width: 100%;
  height: 700px;
}
