<div class="container">
  <h2 class="page-header mt-4 mb-4">商品一覧</h2>
  <div class="item-new mb-3 float-right">
    <%= link_to '商品追加', new_admin_item_path,class: 'btn btn-outline-secondary' %>
  </div>
  <%= render 'admin/items/item_list', items: @items %>

  <div class="row offset-5">
    <%= paginate @items %>
  </div>
</div>