<% provide(:title, "About") %>
  <h1 class="text-center" style="font-size-100px">About</h1>
	<div class="row">
	  <div class="text-center mx-auto bg-light" style="width: 90%;">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
      様々なバリエーションをご⽤意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
      ぜひご注⽂ください。<br>
    </div>
  </div>
  <div class="about-image mt-3"></div>
