<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= attachment_image_tag item, :image, size: "200x200", fallback: "no-image.jpg" %>
        </div>
    </div>
</div>